// Loading Indicator
//================================================== //

$loading-indicator-size: 64px;
$loading-indicator-color: $button-color-primary-initial-background;
$loading-indicator-check-color: $inverse-color;

$progress-color: #0054b1; // azure-80
$overall-color: #e6f1fd;

.loading-indicator-container {
  @include opacity(1);
  @include transition(opacity 500ms);

  display: inline-block;
  text-align: center;
  vertical-align: middle;
  z-index: 1010;

  &.is-hidden {
    @include opacity(0);
  }

  &.blocked-ui {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 58px); // 115/2, 115 is the height of .loading-indicator-container
  }

  span {
    @include font-size(16);

    color: $loading-indicator-color;
    display: block;
  }
}

.loading-indicator {
  @include opacity(1);

  display: inline-block;
  height: $loading-indicator-size;
  margin: 2px;
  position: relative;
  vertical-align: middle;
  width: $loading-indicator-size;

  &.is-hidden {
    @include opacity(0);
  }

  &.circular:not(.is-hidden) {
    --progress-color: #0054b1;
    --overall-color: #e6f1fd;
  }
}

// Overlay Override for Busy Indicator
.loading.overlay {
  @include opacity(0.75);
  @include transition(opacity 500ms);

  background-color: $body-color-primary-background;
  position: absolute;
  visibility: visible;

  &.transparent {
    background-color: transparent;
  }

  &.is-hidden {
    @include opacity(0);
  }
}

// Animation Keyframes
@include keyframes(stretchdelay) {
  0%,
  70%,
  100% {
    @include css3(transform, scaleY(0.5));
  }
  35% { @include css3(transform, scaleY(1)); }
}

// Display changes based on host element type
input + .loading-indicator-container,
.dropdown-wrapper > .loading-indicator-container {
  position: absolute;

  + .loading.overlay {
    @include opacity(0.5);

    &.is-hidden {
      @include opacity(0);
    }
  }

  .loading-indicator {
    background-color: transparent;
    height: 22px;
    margin: 6px 1px 1px;
    position: absolute;
    right: 0;
    width: 40px;
  }
}

.inline {
  + .loading-indicator-container,
  .dropdown-wrapper > .loading-indicator-container {
    .loading-indicator {
      background-color: transparent;
      height: 22px;
      margin: 5px 1px 1px;
      position: absolute;
      right: 0;
      width: 40px;
    }
  }
}

.ie9 {
  .loading-indicator {
    /* TODO */
  }
}

// bump everything up 1px because Firefox
.is-firefox {
  input + .loading-indicator-container,
  .dropdown-wrapper > .loading-indicator-container {
    position: absolute;

    .loading-indicator {
      margin: 7px 5px 1px;
    }
  }
}

.loading-xs {
  min-height: 20px;
  min-width: 20px;

  .loading-indicator-container.blocked-ui {
    top: calc(50% - 8px);
  }

  .loading-indicator {
    height: inherit;
    margin: 2px;
    width: inherit;
  }
}

.loading-sm {
  min-height: 28px;
  min-width: 40px;

  .loading-indicator-container.blocked-ui {
    top: calc(50% - 18px);
  }

  .loading-indicator {
    height: inherit;
    margin: 4px;
    width: inherit;
  }
}

// Animate in the body if adding the class loading-loading-locale
// It will cause the page and icons to flip visibilibly when using RTL so this is nice to do.
body {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.loading-loading-locale {
  opacity: 0;
}

// RTL Styles
html[dir='rtl'] {
  .loading-indicator {
  }

  // Display changes based on host element type
  input + .loading-indicator-container,
  .dropdown-wrapper > .loading-indicator-container {
    .loading-indicator {
      left: 0;
      right: auto;
    }
  }

  .loading-xs {
    .loading-indicator {
    }
  }

  .loading-sm {
    .loading-indicator {
    }
  }
}
