// Loading Indicator
//================================================== //

$loading-indicator-color: $button-color-primary-initial-background;
$loading-indicator-check-color: $inverse-color;

.dropdown-wrapper > .loading-indicator-container svg.circular-indicator,
input[type='text'] + .loading-indicator-container svg.circular-indicator {
  height: 13px;
  width: 13px;
}

.dropdown-wrapper > .loading-indicator-container svg.circular-indicator {
  left: -32px;
}

input[type='text'] + .loading-indicator-container svg.circular-indicator {
  left: -12px;
}

.dropdown-wrapper > .loading-indicator-container svg.circular-indicator .progress,
input[type='text'] + .loading-indicator-container svg.circular-indicator .progress {
  stroke-width: 18px;
}

.dropdown-wrapper svg.circular-indicator .overall,
input[type='text'] + .loading-indicator-container svg.circular-indicator .overall {
  stroke-width: 14px;
}

.loading-indicator-container {
  @include opacity(1);
  @include transition(opacity 500ms);

  --progress-color: #0054b1;
  --overall-color: #e6f1fd;

  display: inline-block;
  text-align: center;
  vertical-align: middle;
  z-index: 1010;

  &.is-hidden {
    @include opacity(0);
  }

  &.blocked-ui {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 58px); // 115/2, 115 is the height of .loading-indicator-container
  }

  span {
    @include font-size(16);

    color: $loading-indicator-color;
    display: block;
  }
}

@keyframes indeterminate-spinner-progress-anim {
  0%,
  15% {
    stroke-dashoffset: 272;
    transform: rotate(0);
  }

  60% {
    stroke-dashoffset: 80;
    transform: rotate(45deg);
  }

  65% {
    stroke-dashoffset: 80;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 272;
    transform: rotate(360deg);
  }
}

@keyframes indeterminate-spinner-anim {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

svg.circular-indicator.indeterminate .progress {
  animation: 1.52s linear infinite both indeterminate-spinner-progress-anim;
}

svg.circular-indicator.indeterminate {
  animation: 2.4s linear infinite indeterminate-spinner-anim;
}

svg.linear-indicator.indeterminate .progress {
  animation: 2.8s linear infinite both indeterminate-linear-progress-anim;
}

@keyframes indeterminate-linear-progress-anim {
  0% {
    transform: scaleX(0%) translateX(0%);
  }

  3.125%,
  53.125% {
    transform: scaleX(20%) translateX(0%);
  }

  6.25% {
    transform: scaleX(30%) translateX(20%);
  }

  12.5%,
  62.5% {
    transform: scaleX(45%) translateX(60%);
  }

  25%,
  75% {
    transform: scaleX(100%) translateX(100%);
  }

  25.0000001%,
  50%,
  75.0000001%,
  100% {
    transform: scaleX(0%) translateX(0);
  }
}

.loading-indicator svg.circular-indicator.inline {
  height: 13px;
  width: 13px;
}

.loading-indicator svg.circular-indicator.inline .overall {
  stroke-width: 14px;
}

.loading-indicator svg.circular-indicator.inline .progress {
  stroke-width: 18px;
}

.loading-indicator {
  @include opacity(1);

  display: inline-block;
  margin: 2px;
  position: relative;
  vertical-align: middle;

  svg.circular-indicator {
    align-items: center;
    display: flex;
    fill: transparent;
    justify-content: center;
    overflow: visible;
    position: relative;
    transform: rotateZ(-90deg);
    transform-origin: 50% 50%;

    circle {
      transform-origin: 50% 50%;
    }

    .overall {
      stroke: var(--overall-color);
      stroke-width: 4px;
    }

    .progress {
      stroke: var(--progress-color);
      stroke-dasharray: 283;
      stroke-width: 8px;
    }
  }

  svg.circular-indicator {
    height: 50px;
    width: 50px;
  }

  &.is-hidden {
    @include opacity(0);
  }
}

// Overlay Override for Busy Indicator
.loading.overlay {
  @include opacity(0.75);
  @include transition(opacity 500ms);

  background-color: $body-color-primary-background;
  position: absolute;
  visibility: visible;

  &.transparent {
    background-color: transparent;
  }

  &.is-hidden {
    @include opacity(0);
  }
}

// Animation Keyframes
@include keyframes(stretchdelay) {
  0%,
  70%,
  100% {
    @include css3(transform, scaleY(0.5));
  }
  35% { @include css3(transform, scaleY(1)); }
}

// Display changes based on host element type
input + .loading-indicator-container,
.dropdown-wrapper > .loading-indicator-container {
  position: absolute;

  + .loading.overlay {
    @include opacity(0.5);

    &.is-hidden {
      @include opacity(0);
    }
  }

  .loading-indicator {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: 22px;
    justify-content: center;
    margin: 6px 1px 1px;
    position: absolute;
    right: 0;
  }
}

.inline {
  + .loading-indicator-container,
  .dropdown-wrapper > .loading-indicator-container {
    .loading-indicator {
      background-color: transparent;
      height: 22px;
      margin: 5px 1px 1px;
      position: absolute;
      right: 0;
      width: 40px;
    }
  }
}

.loading-xs {
  min-height: 20px;
  min-width: 20px;

  .loading-indicator-container.blocked-ui {
    top: calc(50% - 8px);
  }

  .loading-indicator {
    height: inherit;
    margin: 2px;
    width: inherit;
  }
}

.loading-sm {
  min-height: 28px;
  min-width: 40px;

  .loading-indicator-container.blocked-ui {
    top: calc(50% - 18px);
  }

  .loading-indicator {
    height: inherit;
    margin: 4px;
    width: inherit;
  }
}

// Animate in the body if adding the class loading-loading-locale
// It will cause the page and icons to flip visibilibly when using RTL so this is nice to do.
body {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.loading-loading-locale {
  opacity: 0;
}

// RTL Styles
html[dir='rtl'] {
  // Display changes based on host element type
  input + .loading-indicator-container,
  .dropdown-wrapper > .loading-indicator-container {
    .loading-indicator {
      left: 0;
      right: auto;
    }
  }
}
